{% extends "grades/layout.html" %}
{% load static %}
{% block body %}


<div class="container">
{% if is_super or is_teacher %}
    <li class="list-group-item list-group-item-action">
        <a class="nav-link" href="{% url 'courses' %}">Courses</a>
    </li>
{% endif %}
{% if is_student %}
    <li class="list-group-item list-group-item-action">
        <a class="nav-link" href="{% url 'report' %}">Student Reports</a>
    </li>
    {% endif %}
    {% if is_super %}
    <li class="list-group-item list-group-item-action">
        <a class="nav-link" href="{% url 'report_all' %}">Student Reports</a>
    </li>
    {% endif %}
{% if is_super %}
    <li class="list-group-item list-group-item-action">
        <a class="nav-link" href="{% url 'register' %}">New Teacher / Student</a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="nav-link" href="{% url 'create_course' %}">Create Course</a>
    </li>
{% endif %}


</div>

{% endblock %}